{{!-- VISTA PORTADA DE INICIO --}}
<div class="masthead">
    <h1 class="display-3 text-white font-weight-bold font-italic">EY-COMMERCE</h1>
    <p class="lead text-white font-weight-bold font-italic">Tienda online de productos y novedades...</p>
</div>
{{!-- LISTADO DE TODOS LOS PRODUCTOS --}}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <h1 class="font-weight-bold font-italic">LISTADO DE PRODUCTOS</h1>
    </div>
    {{>navCategorias}}
    <div class="d-flex justify-content-end align-items-center mt-2">
        <div class="col-md-2 m-0">
            <div class="form-group">
                <select name="marca_id" id="marca" class="form-control">
                    {{#if producto.marca_id}}
                    <option value="{{producto.marca_id._id}}">{{producto.marca_id.marca}}
                    </option>
                    {{/if}}
                    <option>Todos</option>
                    <option>Destacados</option>
                </select>
            </div>
        </div>
        <div class="col-md-2 m-0">
            <div class="form-group">
                <select name="marca_id" id="marca" class="form-control">
                    {{#if producto.marca_id}}
                    <option value="{{producto.marca_id._id}}">{{producto.marca_id.marca}}
                    </option>
                    {{/if}}
                    <option>Ordenar por..</option>
                    <option>A a la Z</option>
                    <option>Z a la A</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        {{#each productos}}
            {{>cardProducto}}
        {{/each}}
    </div>
</div>