{{!-- VISTA PORTADA DE INICIO --}}
<div class="masthead">
    <h1 class="display-3 text-white font-weight-bold font-italic">EY-COMMERCE</h1>
    <p class="lead text-white font-weight-bold font-italic">Tienda online de productos y novedades...</p>
</div>
{{!-- LISTADO DE TODOS LOS PRODUCTOS --}}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
        <h1 class="font-weight-bold font-italic">LISTADO DE PRODUCTOS</h1>
        <a href="/todos/1" class="btn btn-sm btn-success">Todos</a>
    </div>
    <div class="d-flex justify-content-end align-items-center mt-2 col-md-12">
        {{!-- ORDEN A-Z Y Z-A --}}
        <div class="col-md-3 m-0 d-flex align-items-center">
            <h5 class="mr-auto">Orden:</h5>
            <div class="form-group mr-auto">
                <select name="marca_id" id="filtro-orden" class="form-control">
                    <option value="">Ordenar por..</option>
                    <option value="1" {{#estado orden 1 }}{{/estado}}>A a la Z</option>
                    <option value="-1" {{#estado orden -1 }}{{/estado}}>Z a la A</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center mt-2">
        {{!-- PAGINACION PRODUCTOS --}}
        <nav class="ml-2" aria-label="Page navigation example">
            <ul class="pagination">
                {{#for paginacion actual categoria destacado orden actualSubCat}}
                {{/for}}
            </ul>
        </nav>
    </div>
    <div class="row">
        {{#each productos}}
            {{>cardProducto}}
        {{/each}}
    </div>
    {{!-- PAGINACION PRODUCTOS --}}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#for paginacion actual categoria destacado orden actualSubCat}}
            {{/for}}
        </ul>
    </nav>
</div>
<script src="/js/vistaProductos.js"></script>