<footer class="footer-basic-centered">
    <p class="footer-company-motto">Nuestras Redes Sociales</p>
    <p class="footer-links">
        <a href="#"><i class="fab fa-facebook-f mr-2"></i></a>
        <a href="#"><i class="fab fa-twitter mr-2"></i></a>
        <a href="#"><i class="fab fa-linkedin mr-2"></i></a>
        <a href="#"><i class="fab fa-instagram mr-2"></i></a>
    </p>
    <p class="footer-company-name">Ey-Commerce &copy; 2020</p>
</footer>