<div id="lamascara" class="mascara">
    <div class="contenido">
      <div class="modal-header border-0">
        <h2 id="titulo-modal"></h2>
        <span class="cerrar" id="cerrarModal">&times;</span>
      </div>
      <div class="modal-body">
        <section id="panelResultados"></section>
      </div>
      <div class="modal-footer border-0">
        <input class="btn btn-primary" id="aceptarModal" value="Aceptar"/>
      </div>
    </div>
</div>