<div id="lamascara" class="mascara">
    <div class="contenido">
      <div class="modal-header border-0">
        <h2 id="titulo-modal"></h2>
        <span class="cerrar" id="cerrarModal">&times;</span>
      </div>
      <div class="modal-body">
        <section id="panelResultados"></section>
      </div>
      <div class="modal-footer border-0">
        <button class="btn btn-primary btn-sm pr-5 pl-5" id="aceptarModal">Aceptar</button>
      </div>
    </div>
</div>