<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            Ey-Commerce
        </a>
        <div>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <a href="/signup" class="nav-link text-primary btn-sm btn btn-outline-primary mr-2">
                    <i class="fas fa-male"></i>
                    Perfil
                </a>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-danger btn-sm btn btn-outline-danger">
                        <i class="fas fa-sign-out-alt"></i>
                        Salir
                    </a>
                </li>
                {{else}}
                <li class="nav-item mr-2">
                    <a href="/signin" class="nav-link text-success btn-sm btn btn-outline-success">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        Ingresar
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link text-primary btn-sm btn btn-outline-primary">
                        <i class="fas fa-user-plus"></i>
                        Registrarse
                    </a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>