<div class="row w-100">
    {{>sidebar}}
    <div class="col-md-10">
        <div class="d-flex align-items-center mt-3">
            <div>
                <h3 class="pl-5">PRODUCTOS</h3>
            </div>
        </div>
        <div class="p-4" id="contenedor">
            <div class="row justify-content-betwen" id="App">
                <table class="table text-center" id="filas">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="table table-sm text-center" id="insertar-filas">
                        {{#each productos}}
                        <tr style="height: 70px;">
                            <th>
                                <img src="http://localhost:3000/upload/productos/{{#imagen img}}{{/imagen}}" alt="img" class="img-fluid" style="width: 40px;">
                            </th>
                            <th>{{nombre}}</th>
                            <th>{{precio}}</th>
                            <th>{{stock}}</th>
                        </tr>
                        {{else}}
                        <tr>
                            <th>
                                <h3>No hay productos ingresados</h3>
                            </th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{!-- PAGINACION PRODUCTOS --}}
                <nav class="ml-2" aria-label="Page navigation example">
                    <ul class="pagination">
                        {{#indexProd paginacion actual actualCategoria actualSubCategoria}}
                        {{/indexProd}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="/js/productoIndex.js"></script>